 
 :root{
   --MAIN-COLOR:rgba(35,35,85);
   --PRIMARY-COLOR: rgb(224, 19, 190);
   --SUB-COLOR:rgb(39, 39, 238);
   --SKY-BLUE:#96D4D4;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{

    font-family: sans-serif;
 }

 /* global tags */
 h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(35,35,85);
 }
 span{
    font-size: .9rem;
    color: #757373;
 }
 h6{
    font-size: 1.1rem;
    color: rgb(24,24,49);
 }
 a{
    text-decoration: none;
 }
 .logo{
   font-size:1.5rem;
   font-style: italic;
   color:var(--SUB-COLOR)
 }
 .logo span{
   color: rgb(224, 19, 190);
   font-size: 1.5rem;
 }
 /* navigation */
 nav{
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.2vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    z-index: 999;
 }
 nav img{
    width: 100px;
    height: 100px;
    cursor: pointer;
 }
 nav .navigation{
    display: flex;
 }
 #menu-btn{
    width: 30px;
    height: 30px;
    display: none;
 }
 #menu-close{
    display: none;
 }
 nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 nav .navigation ul li{
    list-style-type: none;
    margin-left: 30px;
 }
 nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
 }
 nav .navigation ul li a.active{
   color: var(--PRIMARY-COLOR)
 }
 nav .navigation ul li a:hover{
    color: #fdc938;
 }


 /* home */
 #home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./assets/babygram.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
 }
 #home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
 }
 #home p{
    width: 50%;
    line-height: 25px;
    color: #fff;
    font-size: 0.9rem;
 }
 #home .btn{
    margin-top: 30px;
 }
 #home a{
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
 }
 #home a.blue{
    color: #fff;
    background-color: var(--SUB-COLOR);
    transition: .3s ease-in;
 }
 #home a.blue:hover{
    background-color: #fff;
    color: rgb(21, 21, 100);
 }
 #home a.orange{
    color: #fff;
    background-color: var(--PRIMARY-COLOR);
    transition: .3s ease-in;
 }
 #home a.orange:hover{
    background-color: #fff;
    color: rgb(214, 163, 22);
 }

 /* feature */
 #features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
 }
 #features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
 }
 #features .fea-box{
    background-color:#f9f9ff ;
    text-align: start;
    padding: 12px;
 }
 #features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
 }
 #features .fea-box h3{
    font-size: 1.2rem;
    font-weight:600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
 }
 #features .fea-box h3{
    font-size: 1rem;
    font-weight:400;
    color: rgb(70,70,87);
 }
 

 /* hospital */
 #hospital{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
 }
 #hospital .hospital-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
 }
 #hospital .hospitals{
    text-align: start;
    background-color: #f9f9ff;
    height: 100%;
    position: relative;
 }
 #hospital .hospitals img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
 }
 #hospital .hospitals .details{
    padding: 15px 15px 0 15px;
 }
 #hospital .hospitals .details i{
    color: #fdc938;
    font-size: .9rem;
 }
 #hospital .hospitals .cost{
    background-color: rgb(74,74,136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 15px;
    bottom: 100px;
 
 }

 /* registeration */
 #registeration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,11,168,0.5), rgba(81,91,233,0.5)),url(./assets/imaging.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 #registeration .reminder{
    color: #fff;
 }
 #registeration .reminder h1{
    color: #fff;
 }
 #registeration .reminder .time{
    display: flex;
    margin-top: 40px;
 }
 #registeration .reminder .time .date{
    text-align: center;
    padding: 13px 33px;
    background: rgba(255,255,255,0.25);
    backdrop-filter:blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid #fff;
    font-size: 1.1rem;
    font-weight: 600;
 }
 #registeration .form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 }
 #registeration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84,40,241);
    outline: none;
 }
 #registeration .form input::placeholder{
    color: #757373;
    font-weight: 500;
    font-size: .9rem;
 }
 #registeration .form .btn{
    margin-top: 20px;
 }
 #registeration .form a.orange{
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background-color: var(--PRIMARY-COLOR);
    transition: .3s ease-in;
 }
 #registeration .form a.orange:hover{
    background-color: #fff;
    color: rgb(214, 163, 22);
 }


 /* experts */
 /* .experts .expert-box .profile img{
    border-radius: 50%;
 } */
 #experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
 }
 #experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
 }
 #experts .expert-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
 }
 .pro-link{
    margin-top: 10px;
 }
.pro-link i{
    padding: 10px 13px;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
    transition: .3s ease;
 }
 .pro-link i:hover{
    background-color: rgb(21,21,100);
    color: #fff;
 }

 /* footer */
 footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 footer .footer-column{
    padding-bottom: 40px;
 }
 footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom:20px;
 }
 footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
 }
 footer li:hover{
    color: rgb(241,240,245);
 }

 footer p{
    color: #7b838a;
 }
 footer .subscribe{
    margin-top: 20px;
 }
 footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    outline: none;
    border: none;
    color: #fff;
 }
 footer .subscribe a{
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
 }
 
 footer .subscribe a.orange{
    color: #fff;
    background-color: rgb(214, 163, 22);
    transition: .3s ease-in;
 }
 footer .subscribe a.orange:hover{
    background-color: #fff;
    color: rgb(214, 163, 22);
 }
 footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
 }
 .copyright p{
    color: #fff;
 }
 .copyright .pro-link{
    color: #fff;
 }

 @media (max-width:769px){
    nav{
        padding: 15px 20px;
    }
    nav img{
        width: 70px;
        height: 70px;
    }
    #menu-btn{
        display: initial;
     }
     #menu-close{
        display: initial;
        font-size: 1.9rem;
        color: #fff;
        padding: 30px 0 20px 20px;
     }
     nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        /* right: 0; */
        width: 220px;
        height: 100vh;
        background-color: rgba(2, 5, 104, 0.897);
        backdrop-filter: blur(.5px);
        border: 1pxm solid rgba(255, 255, 255,l 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        transition: .3s ease-in;
     }
     nav .navigation ul.active{
        right: 0;
     }
     nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
     }
     nav .navigation ul li a{
        color: #fff;
     }
     #home{
        padding-top: 0px;
     }
     #home p{
        width: 90%;
     }
     #features, #hospital{
        padding: 8vw 4vw 0 4vw;
     }
     #registeration{
        padding: 6vw 4vw 6vw 4vw;
     }
     #registeration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
     }
     #experts{
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
     }
     footer .copyright .pro-link{
        margin-top: 20px;
     }
 }

 @media(max-width:475px){
    #registeration{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #registeration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
     }
 }

 /* ucth */
 #facilityUcth{
   background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./assets/ucth.jpg);
   width: 100%;
   height: 70vh;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 100px;
   color: #fff;
   font-weight: 600;
}

 table,td, th{
   border: 1px solid white;
   border-collapse: collapse;
 }
 thead{
   background-color: var(--SKY-BLUE);
   box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
 }
 td, th{
   padding: 10px;
 }
 tr:nth-child(even){
   background-color: var(--SKY-BLUE);
 }
 caption{
   background-color: var(--MAIN-COLOR);
   font-size: 1.2rem;
   color: #fff;
   padding: 12px;
 }
 details > summary {
   padding: 1rem;
   width: 100;
   background-color: var(--SKY-BLUE);
   border: none;
   box-shadow: 1px 1px 2px #bbbbbb;
   cursor: pointer;
   font-weight: 600;
   }
   #ucth{
      margin: 12px;
   }
   #ucth hr{
      margin: 10px 0;
   }